{# empty Twig template #}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Generating URLs</title>
    </head>
    <body>
        <h1>You parameter added is : {{ name }}</h1>
        {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
        {% endfor %}<br>
    
        <a href="{{url('name_list', { 'user':''}) }}">
            View Name
        </a>
    </body>
</html>


